.login-page {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.login-form {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.824);
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.2);
  color: black;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  max-width: 260px;
  padding: 1rem;
}

.login-form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1rem;
}

@media only screen and ( min-width : 768px ) {

  .login-form {
    height: 400px;
    justify-content: space-evenly;
    max-width: unset;
    width: 600px;
  }

  .login-form fieldset {
    font-size: 1.4em;
  }

}
