@media only screen and ( min-width : 768px ) {

  .wallet-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .wallet-form .column {
    align-items: center;
    display: flex;
    gap: 4px;
    padding: 8px;
  }
}
